

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 175px;
	background-color: #C26868;
	z-index: 1000;
	margin: 0;
}

#image {
	max-width: 50%;
	height: auto;
	/*box-shadow: 5px 5px 20px black;*/
}

#logoMini {
	max-width: 10%;
	min-width: 5%;
	padding: 10px;
}

#icon {
	border-radius: 50%;
	color: black;
}

#sectTitle {
	font: sans-serif;
	text-align: right;
}

#ulSpec {
	padding: 15px;
}

body {
	background-color: #4C5364;
	color: #fafafa;
	text-align: center;
	margin: 20px;
	margin-top: 175px;
}

p {
	text-align: left;
}

h1 {
	text-align: center;
}

hr {
	border-color: white;
}

ul {
	text-align: left;
	list-style-type: none;
	padding: 0;
}

em {
	color: white;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 25;
	left: 0;
	padding: 0;
	text-align: right;
}